@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: 'Roboto', sans-serif;
}

.Header{
  position: fixed;
  top:0;
  width: 100%;
  font-size: 0.75rem;
  padding:1rem;
  text-align: center;
  background-color: rgb(0, 115, 255);
  color:white;
}

body{
  margin-top: 4rem;
  background-color: rgba(56, 55, 55, 0.6);
}

.form-container{
  max-width: 600px;
  margin: auto;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
}

.form-container h1{
  color: rgb(153, 255, 10);
}

.form-container form{
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  gap:1rem;
}

input,button{
  padding: 0.75rem;
  border-radius: 5px;
  border: none;
}

button{
  background-color: rgb(0, 115, 255);;
  color: white; 
}

textarea{
  border: none;
  border-radius: 5px;
  text-indent: -0.5rem;
  padding: 1rem 1.5rem;
}

.Task{
  margin: 1rem 0;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color:white;
}

.Task div{
  padding: 1rem;
  text-align: left;
  flex: 1;
}

.Task div span{
  font-size: 0.75rem;
}




@media screen and (max-width:480px) {
    html{
      font-size: 12px;
    }
}